# Django settings for summitsched project.
#
# Copyright 2015 Thierry Carrez <thierry@openstack.org>
# All Rights Reserved.
#
#    Licensed under the Apache License, Version 2.0 (the "License"); you may
#    not use this file except in compliance with the License. You may obtain
#    a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#    License for the specific language governing permissions and limitations
#    under the License.

# Override application settings
SECRET_KEY = 'generateRandomOneHere'

# API module to use
API_MODULE = "cheddar.sched"

# API-specific parameters
SCHED_SITE = 'kilodesignsummit.sched.org'
SCHED_API_KEY = 'c1a3f10f367a3a418573fc8a10b7cdf5'

# Summit API-specific parameters
# SUM_CLIENTID = "wowsecrethere"
# SUM_SECRET = "wowsecretheretoo"
# SUM_TOKENURL = 'https://testopenstackid.openstack.org/oauth2/token'
# SUM_RESOURCESRV = "https://testresource-server.openstack.org"
# SUM_SUMMITID = "current"
# SUM_SUMMITTYPEID = 2
# SUM_EVENTIDS = { 'Fish': 1,
#                  'Work': 2,
#                  'Meet': 3 }
# SUM_TZOFFSET = -18000

# Run in production
DEBUG = False
ALLOWED_HOSTS = []
TEMPLATE_DEBUG = DEBUG
#OPENID_USE_AS_ADMIN_LOGIN = True
