{% extends "cheddar/base.html" %}
{% block content %}
<form class="form" action="/cheddar/{{trackid}}/edit/{{session.event_key}}"
      method="POST">
{% csrf_token %}
<div class="form-group">
<label>Title</label>
{% if session.sessiontype == 'FISHBOWL' %}
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1">{{ trackname }}:</span>
  <input type="text" class="form-control" name="name" value="{{ session.name }}"
   aria-describedby="basic-addon1">
</div>
{% else %}
<div class="form-group">
  <input readonly type="text" class="form-control input-lg" name="name" value="{{ session.name }}">
</div>
{% endif %}
</div>
<div class="form-group">
<ul class="list-group">
 <li class="list-group-item">
<span class="glyphicon glyphicon-time"</span>
{{ session.event_start|slice:":10" }},
{{ session.event_start|slice:"-8:-3" }}-{{ session.event_end|slice:"-8:-3" }}
 </li>
 <li class="list-group-item">
<span class="glyphicon glyphicon-blackboard"</span>
{% if session.sessiontype == 'FISHBOWL' %}
<span class="label label-primary">Fishbowl</span>
{% endif %}
{% if session.sessiontype == 'WORKROOM' %}
<span class="label label-info">Workroom</span>
{% endif %}
{% if session.sessiontype == 'MEETUP' %}
<span class="label label-success">Meetup</span>
{% endif %}
 </li>
 <li class="list-group-item">
<span class="glyphicon glyphicon-home"</span>
{{ session.venue }}
 </li>
</ul>
</div>
<div class="form-group">
  <label>Also appears in... <small>(comma-separated list of track names)</small></label>
  <input id="extratracks" type="text" class="form-control" name="tracks" value="{{ session.event_type}}">
</div>
{% if session.sessiontype != 'MEETUP' %}
<div class="form-group">
<label>
{% if session.sessiontype == 'WORKROOM' %}Boring {% endif %}
Description <small>(may use &lt;a&gt; for links)</small></label>
  <textarea rows=10 name="description" class="form-control"
   aria-describedby="basic-addon2">{{ session.description}}</textarea>
</div>
{% else %}
<div class="form-group">
<label>Description</label>
  <textarea readonly rows=3 name="description" class="form-control"
   aria-describedby="basic-addon2">{{ session.description|striptags}}</textarea>
</div>
<div class="form-group">
  <label>Meetup etherpad URL</label>
  <input type="text" class="form-control" name="urllink" value="{{ session.urllink}}">
</div>
{% endif %}
<div class="form-group">
<input class="btn btn-primary" type="submit" value="Modify" />
&nbsp;
<a class="btn btn-default" href="/cheddar/{{ trackid }}">Cancel</a>
</div>
<button type="button" class="btn btn-sm btn-danger"
onClick="window.open('{{viewprefix}}/event/{{session.id}}', '_blank')">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View in sched
</button>
</form>
{% endblock %}
{% block extrajs %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <script>
$(function() {
var availableTags = [
{% for track in extratracks %}
"{{ track.name }}"{% if not forloop.last %},{% endif %}
{% endfor %}
];
function split( val ) {
return val.split( /,\s*/ );
}
function extractLast( term ) {
return split( term ).pop();
}
$( "#extratracks" )
// don't navigate away from the field on tab when selecting an item
.bind( "keydown", function( event ) {
if ( event.keyCode === $.ui.keyCode.TAB &&
$( this ).autocomplete( "instance" ).menu.active ) {
event.preventDefault();
}
})
.autocomplete({
minLength: 0,
source: function( request, response ) {
// delegate back to autocomplete, but extract the last term
response( $.ui.autocomplete.filter(
availableTags, extractLast( request.term ) ) );
},
focus: function() {
// prevent value inserted on focus
return false;
},
select: function( event, ui ) {
var terms = split( this.value );
// remove the current input
terms.pop();
// add the selected item
terms.push( ui.item.value );
// add placeholder to get the comma-and-space at the end
terms.push( "" );
this.value = terms.join( ", " );
return false;
}
});
});
</script>
{% endblock %}
